In [1]:
msg="Hello!"
index=0
for i in msg:
    print("msg[",index,"]=",i)
    index+=1

msg[ 0 ]= H
msg[ 1 ]= e
msg[ 2 ]= l
msg[ 3 ]= l
msg[ 4 ]= o
msg[ 5 ]= !

In [3]:
for x in "orange":
    print(x)

o
r
a
n
g
e

In [4]:
str1="Hello"
str2="world"
str3=(str1+" "+str2)
print(str3)

Hello world

In [6]:
string1="Hello, I'm at NIET"
print("Iniital string")
print(string1)

#updating the character of the string
string1=string1[:2]+"p"+string1[2:]

#string1 =string1[:3]+"p"+string1[3:]
print(string1)

Iniital string
Hello, I'm at NIET
Hepllo, I'm at NIET

In [7]:
string1="Hello, I am an Indian"
print("Initial string: ")

#deleting string
#with the use of del
del string1
print("\nDeleting entire string: ")
print(string1)

Initial string:

Deleting entire string:

NameError: name 'string1' is not defined

In [9]:
# default order
string1="{} {} {}".format('NIET','for','ENGINEERING')
print(string1)
#positional formatting
string1="{1} {0} {2}".format('NIET','For','PLACEMENT')
nt=("\nPrint string in positional order")

#keyword formatting
string1="{l} {f} {g}".format(g='NIET',f='for',l='CAREER')
print("\nPrint String in order of keywords: ")
print(string1)

NIET for ENGINEERING

Print String in order of keywords:
CAREER for NIET

In [12]:
# format specifier, {} placeholder
age=int(input("enter your age: \n"))
txt="My name is Shivam, I am {} yrs old"
print(txt.format(age))

enter your age:
18
My name is Shivam, I am 18 yrs old

In [16]:
string1="{0:b}".format(16)
print("\nBinary represantion of 16 is: ")
print(string1)

Binary represantion of 16 is:
10000

In [14]:
#formatting of floats
string1="{0:e}".format(165.6458)
print("\n exponent representation of 165.6458 is: ")
print(string1)

 exponent representation of 165.6458 is:
1.656458e+02

In [15]:
#rounding of integers
string1="{0:.2f}".format(1/6)
print(string1)

0.17

In [19]:
# string alignment
string1="|{:<10}|{:^10}|{:>10}|".format('NIET','IS','BEST')
print("\nLeft, center and right alignment with Formatting: ")
string1

Left, center and right alignment with Formatting:

'|NIET      |    IS    |      BEST|'

In [22]:
#demonstarte alignment spaces
string1="\n{0:^16} was founded in {1:<4}".format("NIET",2002,"!")
print(string1)

      NIET       was founded in 2002

In [25]:
a="Hello shivam"
print(a.center(25,"*"))
print(a.ljust(21,"*"))
print(a.rjust(21,"*"))

*******Hello shivam******
Hello shivam*********
*********Hello shivam

In [28]:
# min(str) = return the lowest alphabetical characters
a="Hellofriendz"
print(min(a))
print(max(a))

H
z

In [30]:
def find_len(str):
    counter=0
    for i in str:
        counter+=1
    return counter
str="Shivam mishra"
print(find_len(str))

13

In [33]:
# match function tries to match thr pattern from the very beggening of the string
# re.match(pattern,string)
import re
a="She shells sea shells on the sea shore"
p="shells"
z="she"
x=re.match(p,a)
if x:
    print("match found")
else:
    print("match not found")
y=re.match(z,p)
if y:
    print("match found")
else:
    print("match not found")

match not found
match found

In [35]:
import re
a="She shells sea shells on the sea shore"
p="shells"
z="she"
x=re.sub(p,z,a,2)
if x:
    if re.search(p,a):
        print("match found")
    else:
        print("match not found")

match found

In [36]:
#Return an empty list if no match was found: or Returns a 
import re
txt="The rain in Spain"
#Check if "pourtugal" is in the string
x = re.findall("Pourtugal",txt)
print(x)
if (x):
    print("Yes, there is at least one match!")
else:
    print("No match")

[]
No match

In [9]:
list=[1,2,3,4,5,6]
print(list[0])
print(list[2])
print(list[-1])
print(list[-3])

1
3
6
4

In [10]:
list=[]
print("Initial list:",list)
list.append(1)
list.append(2)
list.append(3)
print("\nList after addition of three elements")
print(list)

Initial list: []

List after addition of three elements
[1, 2, 3]

In [11]:
list=[]
for i in range(1,4):
    list.append(i)
print("\nList after adding elements from 1-3: ")    
print(list)

List after adding elements from 1-3:
[1, 2, 3]

In [13]:
di=[]
for i in range (2,10):
    a=int(input("enter the number"))
    di.append(a)
print(di)

enter the number2
enter the number3
enter the number4
enter the number5
enter the number6
enter the number7
enter the number9
enter the number10
[2, 3, 4, 5, 6, 7, 9, 10]

In [21]:
list=[]
print("Initail list: ")
print(list)
#addition of elements at specific position(using insert method)
list.insert(3,12)
print(list)
list.insert(0,'Greek')
print("\nList after performing Insert operation: ")
print(list)

Initail list:
[]
[12]

List after performing Insert operation:
['Greek', 12]

In [16]:
list=[1,2,3,4]
print("\nInitial list: ")
print(list)
list.extend([8,'Greek','Always'])
print("\nList after performing Insert operation: ")
print(list)

Initial list:
[1, 2, 3, 4]

List after performing Insert operation:
[1, 2, 3, 4, 8, 'Greek', 'Always']

In [23]:
list =[1,2,3,4,5,6,7,8,9,10,11,12]
print("\nInitial list: ")
print(list)

#removing elemments from the list using remove() method
list.remove(5)
list.remove(9)
print("\nList after removal of two elements: ")
print(list)

Initial list:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

List after removal of two elements:
[1, 2, 3, 4, 6, 7, 8, 10, 11, 12]

In [26]:
list=[1,2,3,4,5]

#removing elements from the set using the pop() method

list.pop()
print("\nList after popping an elements: ")
print(list)

# agr list.pop() ke andr kch nhi higa to last element hatega nhi to jo v index di hogi wo element

List after popping an elements:
[1, 2, 3, 5]

In [31]:
tup1=("apple","bananna","cherry")
tup2=(1,2,3,4,5,6,6,7,8,9,10)
print(tup1[1])
print(tup2[:4])
print(tup2[4:])
print(tup1[:2])
print(tup1[1:])
print(tup1[:])
print(tup2[:])

bananna
(1, 2, 3, 4)
(5, 6, 6, 7, 8, 9, 10)
('apple', 'bananna')
('bananna', 'cherry')
('apple', 'bananna', 'cherry')
(1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10)

In [33]:
tup=(1,2,3,3,5,6,3,8)
print(tup.count(3))

3

In [35]:
tup=(1,2,3,4,5,6,7,8)
print(tup.index(7))

6

In [37]:
dict={}
dict['one']="This is one"
dict[2]="This is two"
tinydict = {'name':'john','code':6734,'dept':'sales'}
print(dict['one'])
print(dict[2])
print(tinydict)
print(tinydict.keys)
print(tinydict.values)
print(tinydict["dept"])

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
<built-in method keys of dict object at 0x00000203838C3280>
<built-in method values of dict object at 0x00000203838C3280>
sales

In [39]:
thisdict ={
    "brand":"ford",
    "model":"Mustang",
    "year":1964
}
for x in thisdict:
    print(x)

brand
model
year

In [42]:
thisdict ={
    "brand":"ford",
    "model":"Mustang",
    "year":1964
}
print(thisdict)
#changing the values of keys in dict
thisdict["year"]=2018
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'ford', 'model': 'Mustang', 'year': 2018}

In [44]:
thisdict ={
    "brand":"ford",
    "model":"Mustang",
    "year":1964
}
print(thisdict)
thisdict["color"]="red"
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [50]:
dict={
    "name":"Zara",
    "age":7,
    "Class":"Fifth",
    "School":"DAV public"
}
print(dict)
print("dict['age']",dict["age"])
print("dict['School']",dict['School'])
print(dict)
#dict.clear()
del dict["name"]
print(dict)

{'name': 'Zara', 'age': 7, 'Class': 'Fifth', 'School': 'DAV public'}
dict['age'] 7
dict['School'] DAV public
{'name': 'Zara', 'age': 7, 'Class': 'Fifth', 'School': 'DAV public'}
{'age': 7, 'Class': 'Fifth', 'School': 'DAV public'}