In [4]:
n=int(input("enter the number"))
for i in range(1,n+1):
    for j in range(1,i+1):
        if (i+j)%2==0:
            print("1",end="")
        else:
            print("0",end="")
    print()

enter the number5
1
01
101
0101
10101

In [5]:
#program to swap the numbers
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
c=a
a=b
b=c
print("the swapped value of a is",a)
print("The swapped value of b is",b)

Enter the first number5
Enter the second number6
the swapped value of a is 6
The swapped value of b is 5

In [1]:
#program to find the area of different figures from a singke program
print("Calculate the area\n")
print('''1. circle
2. square
3. rectangle
''')
choice=int(input("Enter the choice\n"))
if choice == 1:
    
    radius=int(input("Enter the radius of circle\n"))
    area = 3.14*radius*radius
    print("Area of the circle is: ",area)
elif choice ==2:
    side=int(input("Enter the length of the side of the square\n"))
    area= side*side
    print("Area of the square is: ",area)
elif choice == 3:
    length=int(input("Enter the length of the rectangle\n"))
    bredth=int(input("Enter the bredth of the rectangle\n"))
    area = length*bredth
    print("Area of rectangle is: ",area)
else:
    print("Choose 1 , 2 or 3")

Calculate the area

1. circle
2. square
3. rectangle

Enter the choice
2
Enter the length of the side of the square
6
Area of the square is:  36

In [2]:
n=0
while n<10:
    n+=1
    print(":-- ",n)

:--  1
:--  2
:--  3
:--  4
:--  5
:--  6
:--  7
:--  8
:--  9
:--  10

In [4]:
n=int(input("Enter the number of which you want the table of"))
m=0
while m<10:
    m+=1
    p=n*m
    print(f"{n} x {m} = {p}")

Enter the number of which you want the table of6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [7]:
n=int(input("Enter the number of which you want the reverse table of"))
m=11
while m>1:
    m-=1
    p=n*m
    print(f"{n} x {m} = {p}")

Enter the number of which you want the reverse table of6
6 x 10 = 60
6 x 9 = 54
6 x 8 = 48
6 x 7 = 42
6 x 6 = 36
6 x 5 = 30
6 x 4 = 24
6 x 3 = 18
6 x 2 = 12
6 x 1 = 6

In [15]:
#sum of first n natural numbers using while loop
num=int(input("Enter a number n\n"))
sum_n=0
while num>0:
    sum_n=sum_n+num
    num=num-1
print("The sum of first n natural number is:-- ",sum_n)

Enter a number n
7
The sum of first n natural number is:--  28

In [17]:
#seuqence using for loop
numbers=[10,20,30,40,50,60,70,80,90,100]
sum_n=0
for val in numbers:
    sum_n=sum_n+val
print("The sum of numbers is:-- ",sum_n)

The sum of numbers is:--  550

In [22]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [5]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [4]:
#print table using for loop
n=int(input("Enter the number of which you want the table of\n"))
print("๐"*20)
for i in range(1,11):
    print(n,"X",i,"=",n*i)
    print("โค"*12)

Enter the number of which you want the table of
6
๐๐๐๐๐๐๐๐๐๐๐๐๐๐๐๐๐๐๐๐
6 X 1 = 6
โคโคโคโคโคโคโคโคโคโคโคโค
6 X 2 = 12
โคโคโคโคโคโคโคโคโคโคโคโค
6 X 3 = 18
โคโคโคโคโคโคโคโคโคโคโคโค
6 X 4 = 24
โคโคโคโคโคโคโคโคโคโคโคโค
6 X 5 = 30
โคโคโคโคโคโคโคโคโคโคโคโค
6 X 6 = 36
โคโคโคโคโคโคโคโคโคโคโคโค
6 X 7 = 42
โคโคโคโคโคโคโคโคโคโคโคโค
6 X 8 = 48
โคโคโคโคโคโคโคโคโคโคโคโค
6 X 9 = 54
โคโคโคโคโคโคโคโคโคโคโคโค
6 X 10 = 60
โคโคโคโคโคโคโคโคโคโคโคโค

In [4]:
#program to print all the numbers divisible by 7 from 1 to 100
for i in range(1,101):
    if i%7==0:
        print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [5]:
#25 ka gap leke print hoga
for i in range(0,100,25):
    print(i)

0
25
50
75

In [12]:
#reverse krne k liye -1 ka use krte hai and insitiallisation v ulta ho jata hai
n=int(input("Enter the number"))
for i in range(n,0,-1):
    print(i)

Enter the number5
5
4
3
2
1

In [31]:
#program to find factorial using for loop
n=int(input("Enter the number of which you want the factorial of\n"))
f=1
for i in range(1,n+1):
    f=f*i
print("The factorial of ",n,"is:-- ",f )

Enter the number of which you want the factorial of
5
The factorial of  5 is:--  120

In [28]:
n=int(input("Enter the nuber of which you want to find the factorial of\n"))
f=1
i=1
while i<=n:
    f=f*i
    i=i+1
print("The factorial of ",n,"is:-- ",f)

Enter the nuber of which you want to find the factorial of
5
The factorial of  5 is:--  120

In [32]:
# to add the digits of any number
n=int(input("Enter the digit\n"))
x=0
while(n>0):
    d=n%10
    x=x+d
    n=n//10
print("The total sum of the digits is:--",x)

Enter the digit
71
The total sum of the digits is:-- 8

In [34]:
n=int(input("Enter the number\n"))
count=0
while n>0:
    count+=1
    n//=10
print("number of digits of entered number is:--",count)

Enter the number
56
number of digits of entered number is:-- 2

In [37]:
n=int(input("Enter the number for thr number pattern"))
for i in range(1,n+1):
    for j in range(i):
        print(i,end="")
    print()

Enter the number for thr number pattern6
1
22
333
4444
55555
666666

In [39]:
#reverse pyramid
n=int(input("Enter the number of stars in first row to print reverse pyramid\n"))
for i in range(n,0,-1):
    for j in range(i):
        print("*",end="")
    print()

Enter the number of stars in first row to print reverse pyramid
6
******
*****
****
***
**
*

In [1]:
n=int(input("Enter the number\n"))
for i in range(65,n):
    for j in range(65,i+1):
        print(chr(i),end="")
    print()

Enter the number
79
A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG
HHHHHHHH
IIIIIIIII
JJJJJJJJJJ
KKKKKKKKKKK
LLLLLLLLLLLL
MMMMMMMMMMMMM
NNNNNNNNNNNNNN

In [8]:
adj = ["red","big","tasty"]
fruits = ["apple","banana","mango"]

for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red mango
big apple
big banana
big mango
tasty apple
tasty banana
tasty mango

In [3]:
numbers=[1,2,3,4,5,6,7,8,9]
num_sum=0
count=0
for x in numbers:
    count+=1
    num_sum+=x
    if count == 5:
        break
print("Sum of first",count,"integers is:",num_sum)

Enter the first n numbers of which you want the sum of6
Sum of first 5 integers is: 15

In [6]:
for x in range(7):
    if x==3 or x==6:
        continue
    print(x)

0
1
2
4
5

In [12]:
a=input("enter the string character\n")
if a.isupper():
    print(a.lower())
elif a.islower():
    print(a.upper())
else:
    print("Invalid Entry")

enter the string character
shivam
SHIVAM

In [1]:
n=int(input("Enter the table from, which you want to print\n"))
m=int(input("Enter the table till, you want to print\n"))
for i in range(n,m+1):
    for j in range(1,11):
        print(i,"X",j,"=",i*j)
    print()

Enter the table from which you want to print
1
Enter the table till you want to print
10
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [6]:
# Program to print full pyramid 
num_rows = int(input("Enter the number of rows"));
for i in range(0, num_rows):
	for j in range(0, num_rows-i-1):
		print(end=" ")
	for j in  range(0, i+1):
		print("*", end=" ")
	print()

Enter the number of rows6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [9]:
#Program to print Right Half Pyramid
num_rows = int(input("Enter the number of rows"));
k = 8
for i in range(0, num_rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 2
    for j in range(0, i+1):
        print("* ", end="")
    print()

Enter the number of rows8
        *
      * *
    * * *
  * * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [10]:
# Program to print One More Star Pattern Pyramid

print("Program to print star pattern: \n");
rows = input("Enter maximum stars you want display on a single line")
rows = int (rows)
for i in range (0, num_rows):
    for j in range(0, i + 1):
        print("* ", end='')
    print("\r")
for i in range (num_rows, 0, -1):
    for j in range(0, i -1):
        print("* ", end='')
    print("\r")

Program to print star pattern:

Enter maximum stars you want display on a single line6
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [11]:
print("Program to print star pattern in different style: \n");
num_rows = int(input('Please enter the number of rows'));
for i in range (0,num_rows):  
    for j in range (num_rows,i,-1):  
        print("* ", end="")
    print()

Program to print star pattern in different style:

Please enter the number of rows6
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
num_rows = int(input("Please enter the number of rows"));
for i in range(num_rows,0,-1):
    for j in range(0, num_rows-i):
        print(end=" ")
    for j in range(0,i):
        print("* ", end=" ")
    print()

Please enter the number of rows7
*  *  *  *  *  *  *
 *  *  *  *  *  *
  *  *  *  *  *
   *  *  *  *
    *  *  *
     *  *
      *

In [2]:
num_rows = int(input("Enter the number of rows"))
k = 0
for i in range(1, num_rows + 1): 
    for j in range (1, (num_rows - i) + 1): 
        print(end = " ")          
    while k != (2 * i - 1):
        print("*", end = "")
        k = k + 1
    k = 0   
    print()  
 
k = 2
m = 1
for i in range(1, num_rows): 
    for j in range (1, k):
        print(end = " ") 
    k = k + 1
    while m <= (2 * (num_rows - i) - 1): 
        print("*", end = "") 
        m = m + 1
    m = 1
    print()

Enter the number of rows8
       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************
 *************
  ***********
   *********
    *******
     *****
      ***
       *

In [17]:
# Python Numeric Pattern Example 6
last_num = int(input("Enter the last number"))
for i in range(1, last_num):
    for j in range(-1+i, -1, -1):
        print(format(2**j, "4d"), end=' ')
    print("")

Enter the last number9
   1
   2    1
   4    2    1
   8    4    2    1
  16    8    4    2    1
  32   16    8    4    2    1
  64   32   16    8    4    2    1
 128   64   32   16    8    4    2    1

In [19]:
rows = int(input("Enter the number of rows: "))  
k = rows - 2  
# This is used to print the downward pyramid  
for i in range(rows, -1 , -1):  
    for j in range(k , 0 , -1):  
        print(end=" ")  
    k = k + 1  
    for j in range(0, i+1):  
        print("* " , end="")  
    print()  
  
# This is used to print the upward pyramid  
k = 2 * rows  - 2  
for i in range(0 , rows+1):  
    for j in range(0 , k):  
        print(end="")  
    k = k - 1  
    for j in range(0, i + 1):  
        print("* ", end="")  
    print()

Enter the number of rows: 9
       * * * * * * * * * *
        * * * * * * * * *
         * * * * * * * *
          * * * * * * *
           * * * * * *
            * * * * *
             * * * *
              * * *
               * *
                *
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *